
#maincontainer{
	background-image: url("tree.jpg");
	background-size: cover;
	background-attachment: fixed;
	position:absolute;
	left:20px;
	right:20px;
	top:20px;
	bottom:20px;
	height:100%;
	min-width:1200px;
}

#logo{
	background-color:#bfff00;
	color:blue;
	font-size:50px;
	height:100px;
	text-align:center;
	top:20px;
	left:20px;
	right:20px;
	position:absolute;
}

#menu{
	position:absolute;
	width:200px;
	height:200px;
	left:20px;
	top:130px;
}

#menulist{
	list-style-type: none;
    margin: 0;
    padding: 0;
}


#menulist ul{
	
}


#menulist li{
	background-color:yellow;
	padding:7px;
	margin: 3px;
	border: outset;
}


#menulist a{
	text-decoration:none;
	color:black;
	display:block;
	padding:0px;
}

#cos{
	background-color: yellow;
	position:absolute;
	min-width:500px;
	height:360px;
	left:250px;
	right:250px;
	top:130px;
	opacity:0.9;
}

#baza{
	margin-left:10px;
	margin-top:10px;
}

#baza, #baza td{
	border: 1px solid;
	border-spacing:2px;
}

#mainrow{
	text-align:center;
	font-weight: bold;
	
}

#footer{
	background-color:#bfff00;
	font-size:20px;
	height:100px;
	text-align:center;
	bottom:20px;
	left:20px;
	right:20px;
	position:absolute;
	
}